* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;

}
h1 {
    max-width: 320px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38.4px;
}
h4 {
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;

}
.header {
    background-color: #222222;
    
}
.header__thumb {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 18px 0;
}
.logo {
    margin-right: 41px;
}
.thumb__item:not(:last-child) {
    margin-right: 32px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
}

.catalog__intro{
    background-color: #F1E4E6;
    
    
}
.intro__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 148px;
}
.intro__wrap p {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    
}
.intro__wrap h2 {
    color: #F16D7F;
}
.decor {
   color: #F16D7F ; 
}
.intro__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-image: url('../pikch/main_man.png');
    background-repeat: no-repeat;
    background-position: -228px bottom;
}


.brand {
    font-family: Lato;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.fashion {
    color: #F16D7F;
}
.intro__content h1 {
    padding-left: 20px;
    border-left: 12px solid #F16D7F ;
}
.section {
    margin-top: 64px;
}
.section__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    
}
.product__section {
    background-color: #F7F7F7;
    
}
.product {
    padding-bottom: 128px;
}
.section__women {
    display: flex;
    justify-content: center;
    padding: 11px 0 42px 0;
}
.product__textsection{
    background-color: #FFFFFF;
    margin-top: -100px;
    outline: solid #EAEAEA;
}
.textsection__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 129px;
}
.textsection--pink{
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding: 64px 0 27px 0;
    border-bottom:  5px solid #F16D7F;
}
.product__textarticle {
    text-align: center;
}
.product__textarticle h5 {
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding: 12px 0 49px 0;
}
.product__textarticle p {
    max-width: 555px;
    padding-bottom: 32px;
}
.product__textarticle strong {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
   
}
.product__filter {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 49px 0;
    border-top: 1px solid #EAEAEA;
}


.productbotton {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}
.product__botton {
    padding: 15px 72.5px;
    outline: 1px solid #F16D7F;
   
}
.women__card {
    width: 31%;
    height: 260px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pikch/for_women.png');
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.men__card {
    width: 31%;
    height: 260px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pikch/for_men.png');
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kids__card {
    width: 31%;
    height: 260px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pikch/for_kids.png');
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.accesories__card {
    width: 100%;
    height: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pikch/accesories.png');
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section__text {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 120px;
    text-align: center;
}


.main__filterwrap {
    display: flex;
    justify-content: center;
    margin-top: 51px;
}
.bigpink {
    font-size: 24px;
    line-height: 28.8px;
    color: #F16D7F;
    display: block;
}
.bigpink:hover{
    text-decoration: underline;
}
.main__slogan {
    display: flex;
    margin-top: 96px;
    flex-direction: column;
    align-items: center;
}
.main__slogan h3 {
font-family: Lato;
font-size: 30px;
line-height: 36px;
color: #222222;
}
.main__slogan p {
    color: #9F9F9F;
    ;
}
.main__cardbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 48px;
}

.maincard {
    height: 582px;
    background-color: #F8F8F8;
    position: relative;
    transition: 0.5s;
}
.maincard:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .main__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
  .maincard:hover .main__overlay {
    opacity: 2;
  }
  .btn {
   padding: 12px 50px 12px 16px;
  }   
.maincard__text {
    max-width: 314px;
    padding: 25px 17px 20px 17px;
    
}
.maincard__paragraf {
    padding: 12.5px 0 18px 0;
    }
.money {
    
    color: #F16D7F;
}
.registration__main__wrap {
    display: flex;
    justify-content: space-around;
    padding: 64px 0 96px 0;
}
.registration__main__left {
    display: flex;
    flex-direction: column;
    width: 360px;
}
.registration__main__left p {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}
.registration__main__left input {
    padding: 13px 17px;
    margin-bottom: 21px;
    
}
.registration__main__left input:hover {
   transform: scale(1.25);
}

.registration__main__left button {
    padding: 16px 29px;
    width: 167px;
    color: #FFFFFF;
    background-color: #F16D7F;
    transition: 5s;
}
.registration__main__left button:hover {
   transform: rotate(360deg);
   
}
.registration__main__right {
    display: flex;
    flex-direction: column;
    max-width: 625px;
}
.registration__main__right ul{
    list-style-type: none;
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    
}
.registration__main__right li {
    margin-bottom: 16px;
}
.registration__main__right h5 {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;
}
.registration__main__right p {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 21px;
}
.bottom__wrap {
    display: flex;
    justify-content: center;
    margin-top: 48.5px;
   
}

.main__bottom {
    padding: 14.5px 28.5px;
    outline: 1px solid #F16D7F;

}
.smallpink {
    color: #F16D7F;
}
 .main__bottom:hover{
    background-color: #F16D7F;
   
}

.smallpink:hover{
    color: #F8F8F8;
} 
.afterword {
    background-color: #222224;
    margin-top: 100px;
}
.afterword__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.afterword__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 134px;
    width: 30%;
    padding-bottom: 104px;
    
}
.afterword__img {
    object-fit: contain;
    padding: 103px 0 29px 0;
}
.forh4 {
    padding-bottom: 16px;
}
.footer {
    background-image: url('../pikch/background_beach.png');
    height: 448px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer__p {
display: block;
max-width: 319px;
font-family: Lato;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;

}
.footer__circle {
    padding: 90px 0 14px 0;
    
}
.h5__wrap {
    padding: 150px 0 14px 0;
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    
    color: #222224;
}
.footer__h5p {
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 32px;
    color: #222224;
}
.footer__mail {
    display: flex;
    justify-content: center;
}
.footer__input {
    border: none;
    padding: 7px 22px;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
}
.footer__button {
    cursor: pointer;
    border: none;
    padding: 5px;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
}
.footer__slogan {
    text-align: center;
}
.footer__gap {
    background-color: #222224;
    margin-top: 156px;
    
}
.gap__cardbox svg:hover{
    background-color: #F16D7F;
}
.copyright {
    color: #FBFBFB;
    
}
.gap__wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
@media (max-width: 1100px) {
    .main__cardbox {
        justify-content: center;
    }
   
}
@media (max-width: 768px)  {
    .footer__about {
        width: 100%;
    }
    .afterword__card {
        width: 100%;
    }
    .footer__inputbox {
        width: 100%;
    }
}
@media (max-width: 375px) 
{
    .intro__content {
        background-image: none;
    }
    .women__card {
        width: 100%;
    }
    .men__card {
        width: 100%;
    }
    .kids__card {
        width: 100%;
    }

}
