* {
    margin: 0;
    padding: 0;
    }
.body {
    font-family: sans-serif;
    }
.container {
    max-width: 1140px;
    margin: 0 auto;
    }

.top {
    max-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.container__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}    
.top_link {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}  

.head__content {
    padding-top: 115px;   
    flex-grow: 1;
    background-image: url(pikch/header_back.png);
    background-repeat: no-repeat;
    background-position: right center ;
    background-size: 44%;
    }
.head__name {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em; 
    color: #1F3F68;
    flex-grow: 1;
    margin-bottom: 32px;
}
.head__text{
    width: 425px;

}
.head__buttom{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    margin-bottom: 190px;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.core {
    padding-top: 64px;
}
.core__pr3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.core__pr4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}


.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.buttom {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.core_content{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.content{
    padding: 44px 32px;
    flex-basis: 359px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.map {
    max-width: 100%;
}
.contacts_core_content {
    display: flex;
}
.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.content__img {
    align-self: center;
    margin-bottom: 51px;
}
.afterword__item{
    position: relative;
    flex-grow: 1;
}
.afterword__img{
    width: 100%;
}
.afterword__prImg{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.afterworld__pr3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.afterword__text{
    margin: 32px auto 64px;
    color: #222222;
    width: 75%;
    opacity: 1;
    text-align: center;
}
.afterword__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.afterword__item_margin {
    margin-right: 32px;
}
.afterword__prImg_2{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
    }
.afterword__prImg_3{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
    }
.footer__pr3 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    width: 340px;
 }
.footer__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 494.77px;
    margin-bottom: 91px;
}
.footer_gap{
    display: flex;
    padding-bottom: 96px;
    justify-content: space-between;
    align-items: center;
}
.footer__buttom {
    font-size: 16px;                        
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
}
.contacts_text {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 64px;
    }
.contacts {
    padding-top: 64px;
}
.copyright{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}


.hr {
    opacity: 0.4;
} 
.contacts_list{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}
.contacts_list:first-child::before {
    content: '1. ';
    display: block;
    margin-right: 16px;
}
@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .head__content {
        background-position: right center;
    }
    .core_content {
        flex-direction: column;
        align-items: center;
       
    }
    .content {
        margin-bottom: 32px;
    }
    .footer__buttom {
        padding: 6px 40px; 
    }    
    .footer {
        padding-top: 47px;
        padding-bottom: 64px;
        margin-top: 109px;
    }
    .footer_gap{
        padding-bottom: 0;
    }
    .contacts {
        padding-top: 0;
    }
    .contacts_text {
        flex-direction: column;
    }
}


@media (max-width: 667px) {
    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .top_link {
    padding-top: 24px; 
    }   
    .head__content {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .head__name {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
    }
    .head__text {
        width: 100%;
        text-align: center;
    }
    .head__buttom {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin-bottom: 41px;
          
    }
   .core__pr3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
   }
   .core {
       padding-top: 48px;
   }
   .core_content {
       padding-top: 32px;
   }
    .content {
        width: 100%;
    }
    .afterword__text {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #222222;
    }
    .afterworld__pr3 {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    .afterword__prImg {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }    
    .afterword__prImg_2 {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }
    .afterword__prImg_3 {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }
    .afterword__parent {
        flex-direction: column;
        margin-top: 16px;
    }
   .afterword__item_margin {
        margin-bottom: 16px;
        margin-right: 0;
   }
   .footer__buttom {
    padding: 0 8px; 
    margin-bottom: 41px;
    
}    
.footer {
    padding-bottom: 32px;
    margin-top: 64px;
}
.footer_gap{
    padding-bottom: 0;
    flex-direction: column;
    
    
    }
    .gap_text {
        text-align: center;
        
    }
    .footer__text {
        width: 100%;
        margin-bottom: 40px;
    }
    .footer__pr3 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    }
.contacts {
    padding-top: 0;
}
.contacts_text {
   margin-top: 32px;
}
.copyright {
    margin-top: 37px;
    text-align: center;
}

}

